pipeline/ADF_Pipeline_Demo.json
{
	"name": "ADF_Pipeline_Demo",
	"properties": {
		"activities": [
			{
				"name": "List of files in blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List of files in blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List of files in blob').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "Input",
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_input",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_output",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Error message for Get Metatdata",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "List of files in blob",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_Message_Get_Metadata",
					"value": {
						"value": "@concat('Pipeline ',pipeline().Pipeline, ' failed due to error ', activity('List of files in blob').Error.Message)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Error_Message_Get_Metadata": {
				"type": "String"
			},
			"Error_Messge_For_Each": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-16T03:24:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}